[aap_controller]
{{ controller_firewall_hostname }}

[aap_controller:vars]
ansible_user={{ controller_firewall_user }}
ansible_password={{ controller_firewall_password }}
ansible_sudo_password={{ controller_firewall_password }}