---
# Splunk container configuration
splunk_container_name: splunk
splunk_image: splunk/splunk:latest
splunk_privileged: true

# Port configuration
splunk_host_port: 8000
splunk_container_port: 8000

# Syslog port configuration
splunk_syslog_host_port: 5514
splunk_syslog_container_port: 5514

# Additional syslog port configuration
splunk_syslog_alt_host_port: 1514
splunk_syslog_alt_container_port: 1514

# HTTP Event Collector port configuration
splunk_hec_host_port: 8088
splunk_hec_container_port: 8088

# Authentication configuration
splunk_password: "{{ common_password | default('admin123') }}"

# Data directory configuration
splunk_data_dir: /opt/splunk-data
splunk_container_data_dir: /opt/splunk/var

# Splunk startup configuration
splunk_start_args: "--accept-license"
splunk_general_terms: "--accept-sgt-current-at-splunk-com"

# Splunk apps to install (list of apps)
splunk_apps:
  - url: "https://my-splunk-apps.s3.us-east-1.amazonaws.com/apps/app-for-cisco-network-data_281.tgz"
    filename: "app-for-cisco-network-data_281.tgz"
  - url: "https://my-splunk-apps.s3.us-east-1.amazonaws.com/apps/deprecated-add-on-for-cisco-network-data_279.tgz"
    filename: "deprecated-add-on-for-cisco-network-data_279.tgz"

splunk_container_apps_path: "/opt/splunk/etc/apps/"
splunk_app_owner: "splunk"
splunk_app_group: "splunk"

# Systemd service configuration
splunk_service_enable: true
splunk_service_name: "container-{{ splunk_container_name }}"
