---
- name: Create temp directory
  ansible.builtin.file:
    path: "{{ controller_firewall_temp_dir }}"
    recurse: true
    state: directory

- name: Copy firewall-config playbook
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ controller_firewall_temp_dir }}/{{ item }}.yml"
  loop:
    - firewall-config
    - hosts

- name: Make sure ansible is installed
  become: true
  ansible.builtin.yum:
    name: ansible
    state: present

- name: Run ansible playbook
  ansible.builtin.command: >-
    ansible-playbook
    -i {{ controller_firewall_temp_dir }}/hosts
    {{ controller_firewall_temp_dir }}/firewall-config.yml
  register: _r_play_output

- name: output of playbook
  ansible.builtin.debug:
    msg: "{{ _r_play_output }}"

- name: Create temp directory
  ansible.builtin.file:
    path: "{{ controller_firewall_temp_dir }}"
    recurse: true
    state: absent
