---
- name: Create temp directory
  ansible.builtin.file:
    path: "{{ controller_firewall_temp_dir }}"
    recurse: true
    state: directory

- name: Copy firewall-config hosts
  ansible.builtin.template:
    src: "hosts.j2"
    dest: "{{ controller_firewall_temp_dir }}/hosts"

- name: Copy firewall-config playbook
  ansible.builtin.template:
    src: "firewall-config.yml.j2"
    dest: "{{ controller_firewall_temp_dir }}/firewall-config.yml"

- name: Make sure ansible is installed
  become: true
  ansible.builtin.yum:
    name: ansible
    state: present

- name: Install ansible collection
  ansible.builtin.command: >-
    ansible-galaxy collection install ansible.posix

- name: Run ansible playbook
  ansible.builtin.command: >-
    ansible-playbook
    -i {{ controller_firewall_temp_dir }}/hosts
    {{ controller_firewall_temp_dir }}/firewall-config.yml
  register: _r_play_output

- name: Output of playbook
  ansible.builtin.debug:
    msg: "{{ _r_play_output }}"

- name: Delete temp directory
  ansible.builtin.file:
    path: "{{ controller_firewall_temp_dir }}"
    state: absent
