[defaults]
inventory = {{ ansible_dev_env_inventory_dest }}
remote_user = {{ ansible_dev_env_remote_user }}
host_key_checking = False
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
